*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #00539CFF;
}

.container{
    width: 35%;
    height: 60vh;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 20px 0;
    padding-bottom: 50px;
    border-radius: 100%;
    border: 5px solid black;
    background-color: #EEA47FFF;
}
.timerDisplay{
    position: relative;
    width: 86%;
    height: 30%;
    background-color: azure;
    left: 7%;
    padding: 10px 0;
    margin-top: 9vh;
    font-family: 'Roboto mono',monospace;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(167 215 255 / 25%);
    border: 4px solid black;
    border-top-left-radius: 30vh;
    border-top-right-radius: 30vh;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
}
.btns{
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    margin-top: 10vh;
    justify-content: space-around;
}
.btns button{
    width: 120px;
    height: 45px;
    background-color: rgb(85, 85, 237);
    color: #ffffff;
    border: none;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    
}

.btns>#pauseTimer{
    border: 2px solid rgb(53, 53, 238);
}
.btns>#startTimer{
  background-color: rgb(226, 79, 79);
  border: 2ps solid rgb(255, 0, 0);
}
.btns>#resetTimer{
  background-color: rgb(147, 255, 147);
  border: 2px solid rgb(55, 246, 55);
}