@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Raleway+Dots&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background: rgb(107, 104, 104);
}

h1   {color: rgb(245, 2, 2);
        font-size: 50px;}

.container {
    width: fit-content;
    height: fit-content;
    background: linear-gradient(360deg, rgb(137, 137, 137), rgb(173, 174, 174));
    border-radius: 8px;
    box-shadow: 0px 0px 6px rgb(182, 180, 180);
    font-family: 'DotGothic16', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    font-size: 5em;
    font-weight: 600;
    color: rgb(32, 26, 26);
    scale: 0.7;
}
