body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: 'Montserrat', sans-serif;
}

.w {
  background-image: url('images/tom1.png');
}

.a {
  background-image: url('images/tom2.png');
}

.s {
  background-image: url('images/tom3.png');
}

.d {
  background-image: url('images/tom4.png');
}

.j {
  background-image: url('images/snare.png');
}

.k {
  background-image: url('images/crash.png');
}

.l {
  background-image: url('images/kick.png');
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
.w:hover{
  border: 10px solid #ff0000;
  color: #ff0000;
}
.a:hover{
  border: 10px solid #ffa500;
  color: #ffa500;
}
.s:hover{
  border: 10px solid #ffff00;
  color: #ffff00;
}
.d:hover{
  border: 10px solid #008000;
  color: #008000;
}
.j:hover{
  border: 10px solid #0000ff;
  color: #0000ff;
}
.k:hover{
  border: 10px solid #4b0082;
  color: #4b0082;
}
.l:hover{
  border: 10px solid #ee82ee;
  color: #ee82ee;
}
